html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* start editing from here */

body {
    margin: 0 auto;
    font-family: 微软雅黑;
    background-color: #f3f3f3;
    overflow-y: scroll;
}

* {
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*问卷设计左侧菜单部分*/

#parent {
    width: 1200px;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
}

#left {
    position: fixed;
    width: 140px;
    /*border: 1px solid #ccc;*/
    font-size: 14px;
    margin: 10px;
    float: left;
}

.menuBox {
    left: 50px;
    width: 140px;
    padding-top: 0px;
    background-color: #fff;
}

.menuTitleBox {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    position: relative;
    border-bottom: #f3f3f3 1px solid;
}

.menuTitleBox p {
    text-indent: 30px;
    font-size: 16px;
    color: #777777;
}

.imgTitleBox {
    position: absolute;
    height: 15px;
    width: 15px;
    left: 100px;
    top: 12px;
    background-repeat: no-repeat;
}

#imgTitleBoxCYTX {
    background-image: url(../images/list_02_minus_on.png);
}

#imgTitleBoxGDTX {
    background-image: url(../images/list_01_plus_on.png);
}

#imgTitleBoxZB {
    background-image: url(../images/list_01_plus_on.png);
}

.menuItemBox {
    display: none;
}

.menuItemBox ul {
    margin: 0;
    padding: 0;
}

.menuItemBox li {
    position: relative;
    height: 40px;
    line-height: 40px;
    list-style: none;
    border-bottom: #f3f3f3 1px solid;
    text-align: left;
    background-color: #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    transition: transform 0.2s;
}

.menuItemBox li:hover {
    border-left: 4px solid #1ABC9C;
    border-right: 4px solid #1ABC9C;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 1px -2px 2px #cccccc;
}

.imgSubjectBox {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 25px;
    top: 5px;
    background-repeat: no-repeat;
}

.menuItemBox p {
    text-indent: 50px;
    font-size: 14px;
    color: #777777;
}

.menuItemBox a {
    text-decoration: none;
}


/*问卷设计主要部分*/


/*主要部分的头部分*/

#middle {
    width: 800px;
    height: 90%;
    margin: 10px auto;
    float: left;
    margin-left: 160px;
}

#titleBox {
    width: 100%;
    background-color: #fff;
    margin-bottom: 8px;
    border-left: #fff solid 5px;
    border-right: #fff solid 5px;
}

#titleName {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    color: #666666;
    border-bottom: #f3f3f3 1px solid;
}

#titleNameTextID {
    text-align: center;
    line-height: 2;
}

#headTable td {
    color: #666666;
}

.blank {
    width: 35px;
    padding: 10px;
}

#headDetail {
    margin-left: 55px;
    border-left: 1px solid #f3f3f3;
    padding: 10px;
    width: 650px;
}

#headDetailTextID {
    line-height: 2;
}


/*问卷头编辑框*/

#titleNameTextInput {
    background-color: #b4fbef;
    width: 700px;
    line-height: 2;
    font-size: 18px;
    color: #666666;
    border: none;
    outline: none;
}


/*题头详述编辑框*/

#headDetailTextInput {
    background-color: #b4fbef;
    width: 650px;
    line-height: 2;
    font-size: 16px;
    color: #666666;
    border: none;
    outline: none;
}


/*题尾详述编辑框*/

#tailDetailTextInput {
    background-color: #b4fbef;
    width: 700px;
    line-height: 2;
    font-size: 16px;
    color: #666666;
    border: none;
    outline: none;
}


/*中间空白部分*/

#emptyBox {
    height: 250px;
    text-align: center;
    line-height: 250px;
    color: #888888;
    font-size: 20px;
}


/*中间部分*/

#target {
    background-color: #f3f3f3;
}


/*所有题型公有*/

.subject, .unSubject {
    width: 100%;
    background-color: #fff;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #666666;
    border-left: #fff solid 5px;
    border-right: #fff solid 5px;
}

.subject:hover, .unSubject:hover {
    border-left: #1ABC9C solid 5px;
}

.leftSetup img {
    margin-bottom: 2px;
    visibility: hidden;
}

img.addItem {
    margin-bottom: 2px;
    visibility: hidden;
}

.leftSetup {
    position: absolute;
    width: 35px;
    padding: 10px;
    padding-top: 16px;
    text-align: center;
}

.leftSetup h4 {
    margin-bottom: 8px;
}

.stemText {
    width: 100%;
    line-height: 2;
}

.stemText:empty:before {
    content: attr(placeholder);
}

.stemText:focus:before {
    content: none;
}

.descriptionText {
    width: 100%;
    line-height: 2;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.descriptionText:empty:before {
    content: attr(placeholder);
}

.descriptionText:focus:before {
    content: none;
}


/*题干编辑框*/

.stemTextInput {
    background-color: #b4fbef;
    width: 100%;
    line-height: 2;
    font-size: 16px;
    color: #666666;
    border: none;
    outline: none;
}


/*题目描述编辑框*/

.descriptionTextInput {
    background-color: #b4fbef;
    width: 100%;
    line-height: 2;
    font-size: 14px;
    color: #666666;
    border: none;
    outline: none;
}


/*选项编辑框*/

.itemTextInput {
    margin-left: 21px;
    background-color: #b4fbef;
    line-height: 2;
    font-size: 14px;
    color: #666666;
    border: none;
    outline: none;
    width: 95%;
}

.itemMenu {
    float: right;
    background-color: #fff;
}

.itemMenu img {
    visibility: hidden;
}


/*单选题*/

.radioMain {
    margin-left: 55px;
    border-left: 1px solid #f3f3f3;
    padding: 10px;
    min-height: 200px;
}

.radioItem {
    padding-top: 5px;
    padding-bottom: 5px;
}

.radioItem li {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.radioItem li input {
    float: left;
}

.radioItem label {
    line-height: 2;
    margin-top: 5px;
    font-size: 14px;
}

.radioItem label:empty:before {
    content: attr(placeholder);
}

.radioItem label:focus:before {
    content: none;
}


/*多选题*/

.multipleMain {
    margin-left: 55px;
    border-left: 1px solid #f3f3f3;
    padding: 10px;
    min-height: 200px;
}

.multipleItem {
    padding-top: 5px;
    padding-bottom: 5px;
}

.multipleItem li {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.multipleItem li input {
    float: left;
}

.multipleItem label {
    line-height: 2;
    margin-top: 5px;
    font-size: 14px;
}

.multipleItem label:empty:before {
    content: attr(placeholder);
}

.multipleItem label:focus:before {
    content: none;
}


/*填空题*/

.completionMain {
    margin-left: 55px;
    border-left: 1px solid #f3f3f3;
    padding: 10px;
    min-height: 200px;
}

.completionItem li {
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.completionItem li input {
    font-size: 14px;
    color: #666666;
    /*border: none;*/
    outline: none;
}


/*多项填空题*/

.multitermCompletionMain {
    margin-left: 55px;
    border-left: 1px solid #f3f3f3;
    padding: 10px;
    min-height: 200px;
}

.multitermCompletionItem {
    padding-top: 5px;
    padding-bottom: 5px;
}

.multitermCompletionItem li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.multitermCompletionItem li label input {
    /*float: left;*/
    font-size: 14px;
    color: #666666;
    outline: none;
}

.multitermCompletionItem .itemTextInput {
    float: left;
    margin-left: 0px;
    background-color: #b4fbef;
    line-height: 2;
    font-size: 14px;
    color: #666666;
    border: none;
    outline: none;
    width: 60%;
}

.multitermCompletionItem label:empty:before {
    content: attr(placeholder);
}

.multitermCompletionItem label:focus:before {
    content: none;
}


/*简答题*/

.shortAnswerMain {
    margin-left: 55px;
    border-left: 1px solid #f3f3f3;
    padding: 10px;
    min-height: 200px;
}

.shortAnswerItem li {
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.shortAnswerItem li textarea {
    width: 100%;
    height: 70px;
    font-size: 14px;
    color: #666666;
    /*border: none;*/
    outline: none;
}


/*排序题*/

.sortMain {
    margin-left: 55px;
    border-left: 1px solid #f3f3f3;
    padding: 10px;
    min-height: 200px;
}

.sortItem {
    padding-top: 5px;
    padding-bottom: 5px;
}

.sortItem li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.sortItem li input {
    font-size: 14px;
    color: #666666;
    outline: none;
}

.sortItem .itemTextInput {
    float: left;
    margin-left: 0px;
    background-color: #b4fbef;
    line-height: 2;
    font-size: 14px;
    color: #666666;
    border: none;
    outline: none;
    width: 60%;
}

.sortItem label:empty:before {
    content: attr(placeholder);
}

.sortItem label:focus:before {
    content: none;
}


/*描述说明*/

.descriptionMain {
    margin-left: 55px;
    border-left: 1px solid #f3f3f3;
    padding: 10px;
    min-height: 30px;
    /*220px*/
}


/*分割线*/

.dividingLineMain {
    margin-left: 55px;
    border-left: 1px solid #f3f3f3;
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 10px;
    /*220px*/
}


/*合并题*/

.mergeMain {
    margin-left: 55px;
    border-left: 1px solid #f3f3f3;
    padding: 10px;
    min-height: 200px;
}

.mergeItem {
    background-color: #f3f3f3;
}


/*主要部分的尾部分*/

#tailBox {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 8px;
    border-left: #fff solid 5px;
    border-right: #fff solid 5px;
}

#tailUp {
    font-size: 18px;
    color: #666666;
    border-bottom: #f3f3f3 1px solid;
}

#tailPage {
    width: 700px;
    text-align: right;
    font-size: 14px;
    margin-left: 65px;
    border-left: 1px solid #f3f3f3;
    padding: 10px;
}

#tailDetail {
    border-top: #f3f3f3 1px solid;
    text-align: center;
    color: #666666;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

#tailDetailTextID {
    line-height: 2;
}


/*问卷设计右侧按钮部分*/

#right {
    position: fixed;
    margin: 10px;
    width: 180px;
    height: 200px;
    float: left;
    margin-left: 980px;
}

.lightButton {
    width: 160px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.darkButton {
    width: 160px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.lightButton a {
    text-decoration: none;
    /*背景*/
    background: #fff;
    padding: 8px 50px 8px 50px;
    border-radius: 5px;
    /*字体*/
    font-size: 16px;
    font-weight: bold;
    color: #1ABC9C;
    /*边框*/
    border-style: solid;
    border-width: 2px;
    border-color: #1ABC9C;
    /*浏览器适配*/
    -webkit-transition: all linear 0.30s;
    -moz-transition: all linear 0.30s;
    transition: all linear 0.30s;
}

.darkButton a {
    text-decoration: none;
    /*背景*/
    background: #1ABC9C;
    padding: 8px 50px 8px 50px;
    border-radius: 5px;
    /*字体*/
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    /*边框*/
    border-style: solid;
    border-width: 2px;
    border-color: #1ABC9C;
    /*浏览器适配*/
    -webkit-transition: all linear 0.30s;
    -moz-transition: all linear 0.30s;
    transition: all linear 0.30s;
}

.lightButton a:hover {
    background: #1ABC9C;
    color: #fff;
}

.darkButton a:hover {
    background: #17a085;
    border-color: #17a085;
}


/*问卷设置*/

#hidebg {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000;
    width: 100%;
    height: 100%;
    /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    filter: alpha(opacity=60);
    /*设置透明度为60%*/
    opacity: 0.6;
    /*非IE浏览器下设置透明度为60%*/
    display: none;
    /* http://www.jb51.net */
    z-Index: 2;
}

#popBox {
    color: #666666;
    /*position: absolute;*/
    position: fixed;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 405px;
    background-color: #fff;
    display: none;
    z-Index: 3;
    border-radius: 5px;
    margin-left: -285px;
    margin-top: -250px;
}

#popBoxHead {
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    padding: 14px 30px;
    border-bottom: solid 1px #f3f3f3;
}

#popBoxClose {
    display: block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 22px;
    right: 30px;
    background: url(../images/icons.png) -48px -96px no-repeat;
}

#quesNo {
    height: 290px;
    overflow: hidden;
    text-align: left;
    background-color: #fff;
}

#quesNoGrade {
    margin-top: 20px;
    margin-left: 30px;
    float: left;
}

#quesNoGrade p {
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

#quesNoGrade li {
    height: 30px;
    width: 50px;
    line-height: 30px;
    text-align: center;
    border: 2px solid #f3f3f3;
    color: #666666;
    cursor: pointer;
}

#quesNoEx {
    margin-top: 20px;
    margin-left: 20px;
    width: 50px;
    float: left;
}

#quesNoEx p {
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
}

#quesNoEx #dropBox {
    /*float: left;*/
    margin-left: 60px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    width: 150px;
    font-size: 12px;
    position: relative;
    background: #fff;
    margin-right: 10px;
    z-index: 9999;
}

#quesNoEx #dropBox .dropBox_wrp {
    overflow: hidden;
    border: 1px solid #cccccc;
    border-radius: 3px;
    cursor: pointer;
}

#quesNoEx #dropBox .dropBox_inp {
    color: #666666;
    padding-left: 13px;
    height: 30px;
    line-height: 30px;
    width: 100px;
    border-right: none;
    float: left;
}

#quesNoEx #dropBox a.dropBox_tri:link, #quesNoEx #dropBox a.dropBox_tri:visited {
    width: 32px;
    height: 30px;
    float: left;
    background: transparent url('../images/triangle.png') no-repeat center center;
}

#quesNoEx #dropBox .dropBox_drop {
    background: #fff;
    width: 150px;
    border: 1px solid #cccccc;
    color: #666666;
    border-radius: 3px;
}

#quesNoEx #dropBox .dropBox_drop li {
    padding-left: 13px;
    width: 137px;
}

#quesNoEx #dropBox .dropBox_drop li:hover {
    background: #1ABC9C;
    color: #fff;
    cursor: pointer;
}

#quesNoEx #quesNoPreview {
    width: 350px;
    height: 200px;
    margin-top: 20px;
    border: 1px solid #cccccc;
}

#quesNoEx #quesNoPreview ul li {
    font-size: 14px;
    line-height: 25px;
    text-align: left;
}

#popBoxButtonBox {
    border-top: solid 1px #eef0f1;
}

#popBoxButtonGroup {
    float: right;
}

#popBoxButtonCancel {
    float: right;
    margin-top: 10px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 15px;
}

#popBoxButtonCancel a {
    text-decoration: none;
    /*背景*/
    background: #fff;
    padding: 8px 30px 8px 30px;
    border-radius: 5px;
    /*字体*/
    font-size: 16px;
    font-weight: bold;
    color: #1ABC9C;
    /*边框*/
    border-style: solid;
    border-width: 2px;
    border-color: #1ABC9C;
    /*浏览器适配*/
    -webkit-transition: all linear 0.30s;
    -moz-transition: all linear 0.30s;
    transition: all linear 0.30s;
}

#popBoxButtonConfirm {
    float: right;
    margin-top: 10px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 15px;
}

#popBoxButtonConfirm a {
    text-decoration: none;
    /*背景*/
    background: #1ABC9C;
    padding: 8px 30px 8px 30px;
    border-radius: 5px;
    /*字体*/
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    /*边框*/
    border-style: solid;
    border-width: 2px;
    border-color: #1ABC9C;
    /*浏览器适配*/
    -webkit-transition: all linear 0.30s;
    -moz-transition: all linear 0.30s;
    transition: all linear 0.30s;
}
