html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* start editing from here */

body {
    background-color: #f3f3f3;
}


/*头部分*/

#head {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    height: 35px;
    line-height: 35px;
    min-width: 950px;
    /*position: fixed;*/
}


/*下拉框*/

#head .dropBox {
    float: left;
    height: 32px;
    line-height: 32px;
    text-align: left;
    width: 102px;
    font-size: 12px;
    position: relative;
    background: #fff;
    margin-right: 10px;
    z-index: 5;
}

#head .dropBox .dropBox_wrp {
    overflow: hidden;
    border: 1px solid #cccccc;
    border-radius: 3px;
    cursor: pointer;
}

#head .dropBox .dropBox_inp {
    color: #666666;
    padding-left: 13px;
    height: 32px;
    line-height: 32px;
    width: 52px;
    border-right: none;
    float: left;
}

#head .dropBox a.dropBox_tri:link, #head .dropBox a.dropBox_tri:visited {
    width: 32px;
    height: 32px;
    float: left;
    background: transparent url('../images/triangle.png') no-repeat center center;
}

#head .dropBox .dropBox_drop {
    background: #fff;
    width: 100px;
    border: 1px solid #cccccc;
    color: #666666;
    border-radius: 3px;
}

#head .dropBox .dropBox_drop li {
    padding-left: 13px;
    width: 85px;
}

#head .dropBox .dropBox_drop li:hover {
    background: #1ABC9C;
    color: #fff;
    cursor: pointer;
}


/*新建调差问卷按钮*/

#newButton a {
    text-decoration: none;
    border: 1px solid #1ABC9C;
    border-radius: 3px;
    background-color: #1ABC9C;
    font-size: 14px;
    color: #fff;
    height: 32px;
    line-height: 32px;
    text-align: center;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

#newButton a:hover {
    background-color: #17a085;
    border-color: #17a085;
}


/*搜索框部分*/

#searchBar {
    float: right;
    background-color: #fff;
}

.tab_search {
    border-bottom: #cccccc 1px solid;
    border-left: #cccccc 1px solid;
    height: 35px;
    line-height: 35px;
    border-top: #cccccc 1px solid;
    border-right: #cccccc 1px solid;
}

.searchinput {
    padding-left: 3px;
    padding-top: 8px;
    width: 200px;
    font-family: arial;
    float: left;
    border: 0px;
    color: #666666;
    margin-left: 4px;
    font-size: 14px;
    vertical-align: middle;
    margin-right: 3px;
}

.searchaction {
    width: 20px;
    float: left;
    height: 20px;
    padding-right: 3px;
}


/*主要列表部分*/

#middle {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#tree {
    position: absolute;
    padding: 15px;
    width: 270px;
    height: 80%;
    background-color: #fff;
    min-height: 100px;
    /*margin-right: 10px;*/
}

#tree #treeMenu {
    float: left;
    padding-bottom: 10px;
    font-size: 14px;
}

#tree #treeMenu a {
    color: #666666;
    text-decoration: none;
}

#tree #fresh {
    cursor: pointer;
    float: left;
    width: 20px;
    height: 20px;
}

#tree .on {
    background: url('../images/tree_00_refresh_on.png') no-repeat 0 0;
    animation: rotating 1s linear infinite;
}

#tree .off {
    background: url('../images/tree_00_refresh_off.png') no-repeat 0 0;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#main {
    max-height: 80%;
    overflow-y: auto;
}

#list {
    margin-left: 310px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-radius: 5px;
    min-width: 600px;
    max-height: 80%;
    overflow-x: hidden;
}

#listTable {
    border-collapse: collapse;
    width: 100%;
    background-color: transparent;
}

#listHead {
    border-bottom: 1px solid #cccccc;
    height: 50px;
    line-height: 50px;
    border-left: 3px solid #fff;
}

.listBody {
    border-bottom: 1px solid #cccccc;
    height: 50px;
    line-height: 50px;
    border-left: 3px solid #fff;
}

#listTable td {
    font-size: 14px;
    color: #666666;
}

.titleTd {
    padding-left: 10px;
    width: 25%;
    min-width: 180px;
}

.codeTd {
    text-align: left;
    width: 25%;
    min-width: 180px;
}

.syncTd {
    text-align: left;
    width: 10%;
    min-width: 70px;
}

.syncTd .tempImg {
    display: inline;
    width: 20px;
    height: 20px;
}

.editTd {
    width: 15%;
    min-width: 110px;
}

.operTd {
    width: 200px;
    min-width: 180px;
}

.operTd a {
    margin-right: 12px;
    text-decoration: none;
    color: #666666;
}


/*遮挡层*/

#hidebg {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    display: none;
    z-Index: 100;
}


/*新建问卷*/

#popBox {
    color: #666666;
    /*position: absolute;*/
    position: fixed;
    left: 50%;
    top: 50%;
    width: 350px;
    height: 350px;
    background-color: #fff;
    display: none;
    z-Index: 110;
    border-radius: 5px;
    margin-left: -285px;
    margin-top: -250px;
}

#popBoxHead {
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    padding: 14px 30px;
    border-bottom: solid 1px #f3f3f3;
}

#popBoxClose {
    display: block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 22px;
    right: 30px;
    background: url(../images/icons.png) -48px -96px no-repeat;
}

#popBoxMain {
    margin: 20px;
    margin-left: 30px;
    font-size: 14px;
}

.clear {
    clear: both;
}

.popBoxItem {
    margin-bottom: 10px;
}

.popBoxItem label {
    float: left;
    line-height: 2;
}

#popBox input {
    font-size: 14px;
    color: #666666;
    width: 200px;
    height: 20px;
    outline: none;
    border: solid #cccccc 1px;
}

#popBox .dropBox {
    /*float: left;*/
    margin-left: 70px;
    height: 26px;
    line-height: 30px;
    text-align: left;
    width: 200px;
    font-size: 12px;
    position: relative;
    background: #fff;
    margin-right: 10px;
    z-index: 120;
}

#popBox .dropBox .dropBox_wrp {
    overflow: hidden;
    border: 1px solid #cccccc;
    border-radius: 3px;
    cursor: pointer;
}

#popBox .dropBox .dropBox_inp {
    color: #666666;
    padding-left: 10px;
    height: 26px;
    line-height: 30px;
    width: 150px;
    border-right: none;
    float: left;
}

#popBox .dropBox a.dropBox_tri:link, #popBox .dropBox a.dropBox_tri:visited {
    width: 32px;
    height: 26px;
    float: left;
    background: transparent url('../images/triangle.png') no-repeat center center;
}

#popBox .dropBox .dropBox_drop {
    background: #fff;
    width: 200px;
    border: 1px solid #cccccc;
    color: #666666;
    border-radius: 3px;
}

#popBox .dropBox .dropBox_drop li {
    padding-left: 10px;
    width: 187px;
}

#popBox .dropBox .dropBox_drop li:hover {
    background: #1ABC9C;
    color: #fff;
    cursor: pointer;
}

#popBoxButtonBox {
    border-top: solid 1px #eef0f1;
}

#popBoxButtonGroup {
    float: right;
}

#popBoxButtonCancel {
    float: right;
    margin-top: 10px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 15px;
}

#popBoxButtonCancel a {
    text-decoration: none;
    /*背景*/
    background: #fff;
    padding: 8px 30px 8px 30px;
    border-radius: 5px;
    /*字体*/
    font-size: 16px;
    font-weight: bold;
    color: #1ABC9C;
    /*边框*/
    border-style: solid;
    border-width: 2px;
    border-color: #1ABC9C;
    /*浏览器适配*/
    -webkit-transition: all linear 0.30s;
    -moz-transition: all linear 0.30s;
    transition: all linear 0.30s;
}

#popBoxButtonConfirm {
    float: right;
    margin-top: 10px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 15px;
}

#popBoxButtonConfirm a {
    text-decoration: none;
    /*背景*/
    background: #1ABC9C;
    padding: 8px 30px 8px 30px;
    border-radius: 5px;
    /*字体*/
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    /*边框*/
    border-style: solid;
    border-width: 2px;
    border-color: #1ABC9C;
    /*浏览器适配*/
    -webkit-transition: all linear 0.30s;
    -moz-transition: all linear 0.30s;
    transition: all linear 0.30s;
}
